/Java/JavaFrom_1/nbproject/private/
/Java/JavaFrom_1/build/
/Java/JavaFrom_2/nbproject/private/
/Java/JavaFrom_2/build/
/Java/JavaFrom_3/nbproject/private/
/Java/JavaFrom_3/build/
/Java/JavaFrom_4/nbproject/private/
/Java/JavaFrom_4/build/
/Java/JavaFrom_5/nbproject/private/
/Java/JavaFrom_5/build/
